@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Monofett&family=Pacifico&family=Poppins:wght@400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monofett&family=Pacifico&family=Poppins:wght@400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Pacifico&family=Poppins:wght@400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monofett&family=Outfit:wght@100..900&family=Pacifico&family=Poppins:wght@400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(nav.css);
@import url(hero.css);
@import url(project-one.css);   
@import url(projects.css);

:root { 
    --fs-10: 0.625rem;
    --fs-12: 0.75rem;
    --fs-14: 0.875rem; /* 14px */
    --fs-16: 1rem;     /* 16px */
    --fs-18: 1.125rem; /* 18px */
    --fs-20: 1.25rem;  /* 20px */
    --fs-30: 1.875rem; /* 30px */
    --fs-40: 2.5rem;   /* 40px */
    --fs-50: 3.125rem; /* 50px */
    --fs-60: 3.75rem;  /* 60px */
    --fs-70: 4.375rem; /* 70px */

    --bg-white: #EFEFEF;
    --bg-black: #222222;
    --bg-yellow-orange: #FEA200;
    --bg-green-blue: #02AFAE;
    --bg-red:#FF2531;
    --bg-blue:#1B3D9F;

    --font-family-Pacifico: 'Pacifico', cursive;
    --font-family-Monofett: 'Monofett', cursive;
    --font-family-Outfit: 'Outfit', sans-serif;
  } 

  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-size: var(--fs-16);
    line-height: 1.2;
    min-height: 100vh;
    background-color: var(--bg-black);
    color: var(--bg-white);
    font-family: 'Inter', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}


.test-bg {
    background-color: var(--bg-yellow-orange);
}
